<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">compras</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button color="dark" [routerLink]="['/home']">Volver</ion-button> 

  <mat-card class="example-card" appearance="outlined" id="card">
    <img mat-card-image src="{{ Imagen }}" alt="{{ Nombre }}">
    <mat-card-actions>
      <mat-card-content>
        <mat-card-title id="title">{{ Nombre }}</mat-card-title>
        <mat-card-subtitle>${{ Precio | number:'1.3-3' }}</mat-card-subtitle>
        <mat-select placeholder="cantidad" [(ngModel)]="cantidadSeleccionada"> 
          <mat-option *ngFor="let cantidad of cantidades" [value]="cantidad">{{ cantidad }}</mat-option>
        </mat-select>
      </mat-card-content>
      <ion-button color="dark" id="button" (click)="confirmarPago()">Confirmar Compra</ion-button>
    </mat-card-actions>
  </mat-card>
</ion-content>
