ion-card {
    margin-top: 20px;
    text-align: center;
  }
  
  ion-avatar img {
    border-radius: 50%;
  }
  
  ion-label h2 {
    font-weight: bold;
    margin: 10px 0;
  }
  
  ion-button {
    margin-top: 20px;
  }
  