<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Nueva Dona</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="agregarDona()">
    <ion-item>
      <ion-label position="floating">Imagen URL</ion-label>
      <ion-input [(ngModel)]="nuevaDona.imagen" name="imagen"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="nuevaDona.nombre" name="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input [(ngModel)]="nuevaDona.precio" name="precio"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea [(ngModel)]="nuevaDona.descripcion" name="descripcion"></ion-textarea>
    </ion-item>
    <ion-button expand="full" type="submit">Agregar Dona</ion-button>
  </form>
</ion-content>
