<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-breadcrumbs>
    <ion-breadcrumb href="#index">donuts</ion-breadcrumb>
    <ion-breadcrumb href="#inicio">Cambios</ion-breadcrumb>
  </ion-breadcrumbs>

  <ion-item *ngFor ="let dona of listaDona">
    
    <p>{{ dona.nombre }} $ {{ dona.precio }} pesos  </p>
    <ion-button color="success" [routerLink]="['/home']">Comprar {{ dona.nombre }}</ion-button>

   </ion-item>
  <!-- <p *ngIF="edad < 35">{{ Persona.nombre }}</p>
 
  <ion-item>
    <ion-input label="Nombre de Usuario" labelPlacement="floating" placeholder="Ingrese su nombre de usuario" [(ngModel)]="usuario"></ion-input>
  </ion-item>

  <ion-button color="success" [routerLink]="['/home']">Ir al Home {{ usuario }}</ion-button>
  <ion-button color="warning" (click)="irPagina()">Ir a Agregar</ion-button>-->
</ion-content> 
