<ion-header>
  <ion-toolbar>
    <ion-title>Editar Dona</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="guardarCambios()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="dona.nombre" name="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input [(ngModel)]="dona.precio" name="precio"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea [(ngModel)]="dona.descripcion" name="descripcion"></ion-textarea>
    </ion-item>
    <ion-button expand="full" type="submit">Guardar Cambios</ion-button>
  </form>
</ion-content>
