<ion-header>
  <ion-toolbar>
    <div class="title-container">
      <img class="logo" src="assets/icon/buyhicsa.png" alt="Logo">
      <span class="neon-title">DONAITIANO</span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-container">
    <img class="background-image" src="assets/icon/donas.jpg" alt="Background Image">
    <div class="button-container">
      <ion-button color="light" [routerLink]="['/home']">Menu de Donas</ion-button>
      <ion-button color="light" (click)="goToLoginOrProfile()">
        {{ isAuthenticated ? 'Perfil' : 'Iniciar Sesión' }}
      </ion-button>
    </div>
  </div>
</ion-content>
