<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <h1 class="neon-title">DONAITIANO</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="background-container">
    <img class="background-image" src="assets/icon/donas.jpg" alt="Background Image">
    <!-- Contenedor para centrar los botones -->
    <div class="button-container">
      
      <ion-button color="light">Menu de Donas</ion-button>
      <ion-button color="light">Perfil de Usuario</ion-button>
    </div>
  </div>
</ion-content>
