.image-container {
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center;     /* Centra la imagen verticalmente */
    height: 100%;            /* Ocupa toda la altura del contenido */
  }
  
  .image-container img {
    width: 50%; /* Ajusta el ancho de la imagen al 50% del contenedor */
    max-width: 100%; /* Asegura que la imagen no se salga del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
  }
  