/* Barra de herramientas del título */
ion-header {
  display: flex;
  justify-content: flex-start; /* Alinea los elementos a la izquierda */
  align-items: center;
  background: #000000; /* Morado tenue de fondo */
  height: 60px; /* Altura de la barra */
  padding: 0; /* Espacio a los lados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave para darle un efecto de profundidad */
}

/* Contenedor de la barra de herramientas */
ion-toolbar {
  display: flex;
  justify-content: flex-start; /* Alinea los elementos a la izquierda */
  align-items: center;
  width: 100%;
  padding: 0 1rem; /* Espacio a los lados */
}

/* Contenedor del título y logo */
.title-container {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alinea los elementos a la izquierda */
  width: 100%;
}

/* Estilo de la imagen del logo */
.logo {
  height: 60px; /* Ajusta la altura del logo para que sea mayor que el título */
  margin-right: 10px; /* Espacio entre el logo y el título */
}


p {
  font-size: 1.6rem; 
  font-weight: bold; 
  color: #ffffff; 
  text-align: center;
}

/* Contenedor de la imagen de fondo */
.background-container {
  position: relative; 
  height: 100%;
  width: 100%;
}

/* Imagen de fondo */
.background-image {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  z-index: -1; 
  filter: brightness(0.7); /* Añade un filtro para mejorar el contraste del texto */
}

/* Contenedor de los botones */
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  height: 80vh; 
  text-align: center; 
  position: absolute; 
  top: 0; 
  left: 0;
  right: 0; 
  bottom: 0; 
  z-index: 1; 
}

/* Estilo de los botones */
.button-container ion-button {
  width: 80%; 
  max-width: 300px; 
  height: 60px; 
  font-size: 18px; 
  margin: 10px; 
  border-radius: 25px; /* Ajusta el radio para un diseño más moderno */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Mejora el sombreado de los botones */
  transition: background-color 0.3s, box-shadow 0.3s; 
}

.button-container ion-button:hover {
  background-color: #e22be2; /* Cambia el color del botón en hover para una interacción más dinámica */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Mejora el sombreado en hover */
}
