ion-content {
    --background: rgb(219, 161, 240); 
  }


  #button{
    color: #ffffff;
    background-color: #50376d;
    margin-left: auto;
    margin-right: auto;
    width: fit-content; 
    border-radius: 0.3rem;
  }
