
<ion-content [fullscreen]="true">

  <ion-button color="dark" [routerLink]="['/index']" >Volver</ion-button> 


    <mat-card *ngFor ="let dona of listaDona; let i = index" class="example-card" appearance="outlined" id="card">
      <img mat-card-image src="{{ dona.imagen }}" alt="{{ dona.nombre }}">
      <mat-card-actions>
      <mat-card-content>
        <mat-card-title id="title">{{ dona.nombre }}</mat-card-title>
        <mat-card-subtitle>${{ dona.precio }}</mat-card-subtitle>
        <p>{{ dona.descripcion }}</p>
      </mat-card-content>
      <ion-button color="dark" (click)="irPagina(i)"  id="button" > Comprar </ion-button> 
      </mat-card-actions>
    </mat-card>




</ion-content>