<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      home
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-breadcrumbs>
    <ion-breadcrumb href="#index">donuts</ion-breadcrumb>
    <ion-breadcrumb href="#inicio">Cambios</ion-breadcrumb>
  </ion-breadcrumbs>



  <!-- <ion-item *ngFor ="let dona of listaDona">
    
    <p>{{ dona.nombre }} $ {{ dona.precio }} pesos  </p>
    <ion-button color="success" [routerLink]="['/home']">Comprar {{ dona.nombre }}</ion-button> 

  </ion-item> -->
<div>
  <mat-card class="example-card" appearance="outlined" id="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title id="title">Boston Manjar</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/icon/boston_manjar.png " alt="boston manjar">
    <mat-card-actions>
      <button mat-button>Comprar</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card" appearance="outlined" id="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title id="title">Chocolate Arcoiris</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/icon/choco_arcoiris.png " alt="Chocolate Arcoiris">
    <mat-card-actions>
      <button mat-button>comprar</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card" appearance="outlined" id="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title id="title">Clasica</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/icon/clasica.png " alt="clasica">
    <mat-card-actions>
      <button mat-button>comprar</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card" appearance="outlined" id="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title id="title">Glaseada</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/icon/glaseada.jpg " alt="glaseada">
    <mat-card-actions>
      <button mat-button>comprar</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card" appearance="outlined" id="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title id="title">Boston Manjar</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/icon/boston_manjar.png " alt="boston manjar">
    <mat-card-actions>
      <button mat-button>comprar</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card" appearance="outlined" id="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title id="title">Rollo Canela</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/icon/rollo_canela.png " alt="Rollo Canela">
    <mat-card-actions>
      <button mat-button>comprar</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card" appearance="outlined" id="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title id="title">Super8</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/icon/super8.png " alt="super8">
    <mat-card-actions>
      <button mat-button>comprar</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card" appearance="outlined" id="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title id="title">Vainilla Arcoiris</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/icon/vainilla_acoiris.png " alt="Vainilla Arcoiris">
    <mat-card-actions>
      <button mat-button>comprar</button>
    </mat-card-actions>
  </mat-card>
</div>
 
